
<%= form_tag posts_path do %>
  <%= label_tag :title %>
  <%= text_field :post, :title %>
  <%= label_tag :url %>
  <%= text_field :post, :url %>
  <%= label_tag :description %>
  <%= text_area :post, :description %>
  <br/>
  <select multiple='true', name='post[category_ids][]'>
    <%= Category.all.each do |category| %>
      <option value=<%= category.id %>><%= category.name %></option>
    <% end %>
  </select>
  <br/>
  <%= submit_tag 'Create Post' %>
<% end %>

