<div class='row'>
  <div class='span0 well text-center'>
    <% if logged_in? %>
      <%= link_to vote_post_path(post, vote: true), method: :post do %>
        <i class='icon-arrow-up'></i>
      <% end %>
      <br/>
    <% end %>
    
    <%= post.total_votes %> Votes
    
    <% if logged_in? %>
      <br/>
      <%= link_to vote_post_path(post, vote: false), method: :post do %>
        <i class='icon-arrow-down'></i>
      <% end %>
    <% end %>
  </div>
  
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, external_link(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>posted by</span> <%= link_to post.creator.username, user_path(post.creator) %> <small>at <%= display_datetime(post.created_at) %></small>
    </p>
    <small><span><%= link_to "#{pluralize(post.comments.size, 'comment')}", post_path(post) %></span></small>
    <br/>
    <% if logged_in? %>
      <small><%= link_to "Edit post", edit_post_path(post) %></small>
    <% end %>
  </div>
</div>