<p class='pull-right'>[<%= link_to "Edit", edit_post_path(@post) %>]</p>

<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: @post.title %>

<% if @post.description %>
  <p><%= @post.description %></p>
  <hr>
<% end %>

<h5>Create a comment:</h5>
<%= render 'shared/errors', errors: @comment.errors %>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :body %>
  <br/>
  <%= f.submit 'Create comment' %>
<% end %>

<% if @post.comments.any? %>
  <p><strong>Comments:</strong></p>
  <%= render @post.comments.reverse %>
<% end %>

<%= link_to 'go back to all posts', posts_path %>
