<p><%= render @post.categories %></p>
<%= render 'shared/content_title', title: @post.title %>

<% if @post.description %>
  <p><%= @post.description %></p>
  <hr>
<% end %>

<% if logged_in? %>
  <%= render 'comments/form' %>
<% end %>

<% if @post.comments.any? %>
  <p><strong>Comments:</strong></p>
  <%= render @post.comments.sort_by{|x| x.total_votes}.reverse %>
<% end %>

<%= link_to 'back to posts index', posts_path %>
[<%= link_to "edit", edit_post_path(@post) %>]