<ul class="nav">
  <li>
    <%= link_to "PostIt!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= render 'layouts/category_dropdown' %>
  </li>
  <% if logged_in? %>
    <li>
      <div class='nav_item'>
        <%= link_to 'New Post', new_post_path, class: 'btn btn-success btn-small' %>
      </div>
    </li>
    <li>
      <div class='nav_item'>
        <%= link_to 'Logout', logout_path, class: 'btn btn-success btn-small' %>
      </div>
    </li>
  <% else %>
    <li>
      <div class='nav_item'>
        <%= link_to 'Login', login_path, class: 'btn btn-success btn-small' %>
      </div>
    </li>
    <li>
      <div class='nav_item'>
        <%= link_to 'Register', new_user_path, class: 'btn btn-success btn-small' %>
      </div>
    </li>
  <% end %>
</ul>

